@import "./page.scss";

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, Arial, sans-serif;
  color: rgb(255, 255, 255);
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}
input {
  outline: none;
  border: 1px solid white;
}
::-webkit-scrollbar {
	/*滚动条整体样式*/
	width: 5px;
	/*高宽分别对应横竖滚动条的尺寸*/
	height: 5px;
}
::-webkit-scrollbar-thumb {
	/*滚动条里面小方块*/
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.63);
	background: rgba(255, 255, 255, 0.2);
}
 
::-webkit-scrollbar-track {
	/*滚动条里面轨道*/
	-webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.514);
	border-radius: 0;
	background: rgba(255, 255, 255, 0.1);
}

 .el-message-box{
  max-height:80vh;
  overflow: auto;
  *{
    overflow: auto;
  }
  p{
    max-height:60vh;
    white-space:pre-wrap;
    vertical-align:auto;
  }
}
@import "./media.scss";
